<div class="mt-4">
    <h3>CẬP NHẬT KHÓA HỌC</h3>
    <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả khóa học</label>
            <textarea type="text" class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="subCode">Mã định danh khóa học</label>
            <input type="text" class="form-control" value="{{course.subCode}}" id="subCode" name="subCode">
        </div>
        <div class="form-group">
            <label for="videoCode">Link video khóa học</label>
            <input type="text" class="form-control" value="{{course.videoCode}}" id="videoCode" name="videoCode">
        </div>
        <button type="submit" class="btn btn-primary">Lưu khóa học</button>
    </form>
</div>