<div class="mt-4">
    <h3>CẬP NHẬT KHÓA HỌC</h3>
    <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả khóa học</label>
            <textarea type="text" class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="subCode">Mã định danh khóa học</label>
            <input type="text" class="form-control" value="{{course.subCode}}" id="subCode" name="subCode">
        </div>
        <div class="form-group">
            <label for="videoCode">Link video khóa học</label>
            <input type="text" class="form-control" value="{{course.videoCode}}" id="videoCode" name="videoCode">
        </div>
        <div class="form-group">
            <label for="level">Độ khó khóa học</label>
            <select class="form-control" value="{{course.level}}" id="level" name="level">
                <option value="1">Nhập môn</option>
                <option value="2">Dễ</option>
                <option value="3">Trung bình</option>
                <option value="4">Khó</option>
            </select>
        </div>
        <div class="form-group">
            <label for="duration">Thời lượng khóa học</label>
            <input type="text" class="form-control" value="{{course.duration}}" id="duration" name="duration">
        </div>
        <button type="submit" class="btn btn-primary">Lưu khóa học</button>
    </form>
</div>

<script>
    // convert value of selectbox to text
    let selectbox = document.getElementById('level');
    let selectboxTrueVal = selectbox.attributes.value.value;
    let option = selectbox.options[selectbox.selectedIndex];
    if (selectboxTrueVal == '1') {
        selectbox.selectedIndex = 0;
    } else
    if (selectboxTrueVal == '2') {
        selectbox.selectedIndex = 1;
    } else
    if (selectboxTrueVal == '3') {
        selectbox.selectedIndex = 2;
    } else
    if (selectboxTrueVal == '4') {
        selectbox.selectedIndex = 3;
    } else {
        selectbox.selectedIndex = 0;
    }
</script>