<form class="mt-4" name="container-form" method="POST" action="/learns/handle-form-actions">
    <div>
      <h3>Thông tin đăng ký khóa học</h3>
      <a href="/me/trash/learns">Đăng ký đã xóa ({{this.deletedCount}})</a>

      <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all">
            Chọn tất cả
          </label>
        </div>

        <select class="form-control form-control-sm checkbox-sellect-all" name="action" required>
          <option value="">-- Chọn hành động --</option>
          <option value="delete">Xóa</option>
        </select>

        <button class="btn btn-primary btn-sm btn-submit-all-checkbox" type="submit" disabled>Thực hiện</button>
      </div>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">STT</th>
            <th scope="col">Mã học viên</th>
            <th scope="col">Mã khóa học</th>
            <th scope="col">Đã hoàn thành khóa học</th>
            <th scope="col">Điểm</th>
            <th scope="col">Chức năng</th>
            </tr>
        </thead>
        <tbody>
            {{#each learns}}
            <tr>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="learnIds[]" value="{{this._id}}">
              </div>
            </td>
            <td scope="row">{{sum @index 1}}</td>
            <td>{{this.studentCode}}</td>
            <td>{{this.subCode}}</td>
            <td class="td-studied">{{this.studied}}</td>
            <td>{{this.mark}}</td>
            <td>
                <a href="/learns/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal">Xóa</a>
            </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Chưa có học viên đăng ký học.
                <a href="/learns/create">Thêm mới đăng ký</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!--Confirm for deleting course--}}
<div id="delete-course-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa đăng ký ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa đăng ký này ?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>

{{!--Form delete course--}}
<form class="mt-4" method="POST" name="delete-course-form"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var learnId;
        var deleteCourseForm = document.forms['delete-course-form'];
        //var containerForm = document.forms['container-form'];
        var containerForm = $('form[name="container-form"]');
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var checkboxAll = $('#checkbox-all');
        var learnItemCheckbox = $('input[name="learnIds[]"]');
        var checkAllSubmitBtn = $('.btn-submit-all-checkbox');

        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            learnId = button.data('id');
        })

        btnDeleteCourse.onclick = function() {
            deleteCourseForm.action = '/learns/' + learnId + '?_method=DELETE';
            deleteCourseForm.submit();
        }

        checkboxAll.change(function() {
          var isCheckAll = $(this).prop('checked');
          learnItemCheckbox.prop('checked', isCheckAll);
          renderCheckAllSubmitBtn();
        })

        learnItemCheckbox.change(function() {
          var isCheckAll = learnItemCheckbox.length === learnItemCheckbox.filter(':checked').length;
          checkboxAll.prop('checked', isCheckAll);
          renderCheckAllSubmitBtn();
        })

        // Re-render checkall submit button
        function renderCheckAllSubmitBtn() {
          var checkedCount = learnItemCheckbox.filter(':checked').length;
          if (checkedCount > 0) {
            checkAllSubmitBtn.attr('disabled', false);
          } else {
            checkAllSubmitBtn.attr('disabled', true);
          }
        };

        // Format learn.studied from boolean to values
        $('.td-studied').each(function() {
          var $this = $(this);
          var studied = $this.text();
          console.log(studied);
          if (studied === 'true') {
            $this.text('Đã hoàn thành');
          } 
          if (studied === 'false') {
            $this.text('Chưa hoàn thành');
          }
        })
    });
</script>